*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body
{
    height: 100%;
    width: 100%;
    display: flex;
}

#field
{
    margin: 0 auto;
    border: 3px solid black;
    height: 600px;
    width: 600px;
    position: relative;
}

#player
{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: red;
    height: 50px;
    width: 50px;
}

input
{
    height: 25px;
}